{% macro allBlockPosts(posts, authors) %}
    {% for key, value in posts %}
        <h3 class="has-info-list">{{ key }}</h3>
        <ul class="list-unstyled">
            {% for info in value %}
                <li>
                    <ul class="blog-info list-unstyled">
                        <li class="blog-post-title"><a href="/{{ info.path }}">{{ info.title }}</a></li>
                        <li class="blog-date-author">
                            <div class="blog-publish-date">{{ info.date | date("MMMM D, YYYY")  }}</div>
                            <div class="blog-author">
                                {% import "author-get-name.html" as authorsList %}
                                {{ authorsList.getAuthor(info, authors) }}
                            </div>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endmacro %}