<div class="content-pagination">
    {% if pagination.previous %}
        <a href="/{{pagination.previous.path}}/">Previous</a>
    {% else %}
        <span disabled>Previous</span>
    {% endif %}

    {% for pageNumber in pagination.pages %}
        {% if pagination.num === loop.index %}
        <span class="activePage">{{ loop.index }}</span>
        {% else %}
        <a href="/{{ pageNumber.path }}/">{{ loop.index }}</a>
        {% endif %}
    {% endfor %}

    {% if pagination.next %}
        <a href="/{{pagination.next.path}}/">Next</a>
    {% else %}
        <span disabled>Next</span>
    {% endif %}
</div>