{% macro blockPosts(posts, authors) %}
<ul class="list-unstyled list-blog-posts">
    {% for thisBlogPost in posts %}
    <li>
        <ul class="blog-info list-unstyled">
            <li class="blog-post-title"><a href="/{{ thisBlogPost.path }}">{{ thisBlogPost.title }}</a></li>
            <li class="blog-date-author">
                <div class="blog-publish-date">{{ thisBlogPost.date | date("MMMM D, YYYY")  }}</div>
                <div class="blog-author">
                    {% import "author-get-name.html" as authorsList %}
                    {{ authorsList.getAuthor(thisBlogPost, authors) }}
                </div>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endmacro %}