{% extends "default-page.html" %}

{% block main_column %}
    <section class="main">
        {% if title %}
            <h1 class="page-title">{{ title }}</h1>
        {% elseif tag %}
            <h1 class="page-title">{{ tag }}</h1>
        {% endif %}

        <ul class="bloglist list-unstyled">
            {% for blogpost in pagination.files %}
            <li>
                <div class="featured-image">
                    <a href="/{{blogpost.path}}/"><img src="/assets/images/blog/thumbnails/{{ blogpost.image.feature }}" alt="" /></a>
                </div>
                <ul class="list-unstyled blog-post-meta">
                    <li class="bloglist-blog-title">
                        <a href="/{{blogpost.path}}/">{{ blogpost.title}}</a>
                    </li>
                    <li class="blog-date-author">
                        <span class="blog-author">
                            {% if blogpost.author | is_string %}
                                {% for key, value in authors %}
                                    {% if key == blogpost.author %}
                                        {{ value.name }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if blogpost.author.length > 1 %}
                                {% for singlePerson in blogpost.author %}
                                    {% for key, value in authors %}
                                        {% if key == singlePerson %}
                                            <span class="multiple-authors">{{ value.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </li>
                    <li class="tags">
                        {% for tag in blogpost.tags %}
                        <a href="/topics/{{ tag.slug }}/">{{ tag.name }}</a>
                        {% endfor %}
                    </li>
                    <li>
                        <a class="read-more-link" href="/{{blogpost.path}}/">Read More <span>&raquo;</span></a>
                    </li>
                    <li>
                        {% set page_url = blogpost.path %}
                        {% include "social-share.html" %}
                    </li>
                </ul>
            </li>
            {% endfor %}
        </ul>

        <div class="blog-pagination">
            {% if pagination.previous %}
                <a href="/{{pagination.previous.path}}/">Previous</a>
            {% else %}
                <span disabled>Previous</span>
            {% endif %}

            {% for pageNumber in pagination.pages %}
                {% if pagination.num === loop.index %}
                <span class="activePage">{{ loop.index }}</span>
                {% else %}
                <a href="/{{ pageNumber.path }}/">{{ loop.index }}</a>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <a href="/{{pagination.next.path}}/">Next</a>
            {% else %}
                <span disabled>Next</span>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar">
        <h3>Featured Posts</h3>
        <ul class="list-unstyled list-latest-blog-posts">
            {% for featuredBlogPost in featuredBlogPosts %}
            <li>
                <ul class="list-unstyled">

                    <li class="blog-date-author">
                        <span class="blog-author">
                            {% if featuredBlogPost.author | is_string %}
                                {% for key, value in authors %}
                                    {% if key == featuredBlogPost.author %}
                                        {{ value.name }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if featuredBlogPost.author.length > 1 %}
                                {% for singlePerson in featuredBlogPost.author %}
                                    {% for key, value in authors %}
                                        {% if key == singlePerson %}
                                            <span class="multiple-authors">{{ value.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </li>
                    <li class="blog-post-title"><a href="/{{ featuredBlogPost.path }}/">{{ featuredBlogPost.title }}</a></li>
                    <li><a class="read-more-link" href="/{{ featuredBlogPost.path }}/">Read More <span>&raquo;</span></a></li>

                </ul>
                <hr>
            </li>
            {% endfor %}
        </ul>

        <h3>Recent Posts</h3>
        <ul class="list-unstyled list-latest-blog-posts">
            {% for latestBlogPost in latestBlogPosts %}
            <li>
                <ul class="list-unstyled">

                    <li class="blog-date-author">
                        <span class="blog-author">
                            {% if latestBlogPost.author | is_string %}
                                {% for key, value in authors %}
                                    {% if key == latestBlogPost.author %}
                                        {{ value.name }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if latestBlogPost.author.length > 1 %}
                                {% for singlePerson in latestBlogPost.author %}
                                    {% for key, value in authors %}
                                        {% if key == singlePerson %}
                                            <span class="multiple-authors">{{ value.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </li>
                    <li class="blog-post-title"><a href="/{{ latestBlogPost.path }}/">{{ latestBlogPost.title }}</a></li>
                    <li><a class="read-more-link" href="/{{ latestBlogPost.path }}/">Read More <span>&raquo;</span></a></li>

                </ul>
                <hr>
            </li>
            {% endfor %}
        </ul>



        <h3>Tags</h3>
        {% for tagName, tagData in tags %}
            <a class="tag-link" href="/topics/{{ tagData.urlSafe}}/">{{ tagName }}</a>
        {% endfor %}
    </aside>
{% endblock %}