{% extends "default-page.html" %}

{% block main_column %}
    <section class="main">
        {% if title %}
            <h1 class="page-title">{{ title }}</h1>
        {% elseif tag %}
            <h1 class="page-title tag-name">Tag: {{ tag }}</h1>
        {% elseif category %}
            <h1 class="page-title category-name">Blog Category: {{ category }}</h1>
        {% endif %}

        {% include "blog-categories-list.html" %}

        <ul class="bloglist list-unstyled">
            {% for blogpost in pagination.files %}

            <li>
                <div class="featured-image">
                    <a href="/{{blogpost.path}}/"><img src="/assets/images/blog/thumbnails/{{ blogpost.image.feature }}" alt="" /></a>
                </div>
                <ul class="list-unstyled blog-post-meta">
                    <li class="bloglist-blog-title">
                        <a href="/{{blogpost.path}}/">{{ blogpost.title}}</a>
                    </li>
                    <li class="blog-date-author">
                        <div class="blog-publish-date">{{ blogpost.date | date("MMMM D, YYYY")  }}</div>
                        <span class="blog-author">
                            {% set thisBlogPost = blogpost %}
                            {% include "author-get-name.html" %}
                        </span>
                    </li>
                    <li class="tags">
                        {% for tag in blogpost.tags %}
                        <a href="/topics/{{ tag.slug }}/">{{ tag.name }}</a>
                        {% endfor %}
                    </li>
                    <li>
                        <a class="read-more-link" href="/{{blogpost.path}}/">Read More <span>&raquo;</span></a>
                    </li>
                    <li>
                        {% set page_url = blogpost.path %}
                        {% include "social-share.html" %}
                    </li>
                </ul>
            </li>
            {% endfor %}
        </ul>

        {% include "pagination.html" %}

    </section>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar">

        {% import "post-list.html" as lists %}

        <h3>Featured Posts</h3>
        {{ lists.blockPosts(featuredBlogPosts) }}

        <h3>Recent Posts</h3>
        {{ lists.blockPosts(latestBlogPosts) }}

        <h3>Tags</h3>
        <div class="list-wrapper">
        {% for tagName, tagData in tags %}
            <a class="tag-link" href="/topics/{{ tagData.urlSafe}}/">{{ tagName }}</a>
        {% endfor %}
        </div>

        <h3>All Blogs by Year</h3>
        <div class="listwrapper">
        {% import "blog-list-by-year.html" as allPosts %}
        {{ allPosts.allBlockPosts(allBlogPosts, authors) }}
        </div>

    </aside>
{% endblock %}