{% extends "default-page.html" %}

{% block main_column %}
    <section class="main">
        <div class="page-socials wide-screen-only">
            {% set page_url = path %}
            {% include "social-share.html" %}
        </div>
        <a href="/blog/1" class="back-link"><i class="icon icon-chevron-west"></i>Back to posts</a>
        <h1 class="page-title">{{ title }}</h1>
        <span class="blog-publish-date">{{ date | date("MMMM D, YYYY")  }}</span>

        <div class="narrow-screen-only">
            <div class="author-info">
                {% if author | is_string %}
                    {% include "author-show-single.html" %}
                {% endif %}

                {% if author | is_array %}
                    {% include "author-show-multiple.html" %}
                {% endif %}
            </div>
            <div class="page-socials narrow-screen-only">
                {% set page_url = path %}
                {% include "social-share.html" %}
            </div>
        </div>

        {{contents}}

        <a href="/blog/1" class="back-link bottom-link"><i class="icon icon-chevron-west"></i>Back to posts</a>

        <div class="page-socials bottom-links narrow-screen-only">
            {% set page_url = path %}
            {% include "social-share.html" %}
        </div>

        {% if comments %}
            {% include "disqus-comments.html" %}
            <div id="disqus_thread"></div>
        {% endif %}

    </section>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar">
        <div class="author-info wide-screen-only">
            {# "author" is defined in the page frontmatter and "authors" is defined in content/data/authors.yml #}

            {% if author | is_string %}
                {% set hasBio = true %}
                {% include "author-show-single.html" %}
            {% endif %}

            {% if author | is_array %}
                {% set hasBio = true %}
                {% include "author-show-multiple.html" %}
            {% endif %}
        </div>

        {# list latest posts. number of posts is defined with 'recent_quantiy" option of the recentPosts plugin in gulp.js #}

        <div class="post-lists">
            {% import "post-list.html" as lists %}

            <h3>Recent Posts</h3>
            {{ lists.blockPosts(latestBlogPosts) }}

            {# list all posts by this/these author/s #}


            {# section to display other blog posts by the author(s) of this blog post page #}
            {# we are using the metadata array "allSortedBlogPosts" to find any posts that #}
            {# are by the author(s) of this blog post page.                                #}

            {% if author | is_string %}
            <h3>Other Posts by {{ authors[author].name }}</h3>
            {% else %}
            <h3>Other Posts by
                {% for thisAuthor in author %}
                    {{ authors[thisAuthor].name }}
                    {% if (not loop.last) %}, {% endif %}
                {% endfor %}
            </h3>
            {% endif %}

            {% import "other-blogs-by-author.html" as list_other %}

            {{ list_other.other_posts_by_author(author, allSortedBlogPosts, title) }}

        </div>

        <div class="page-tags">
            <h2>Tags</h2>
            {% for item in tags %}
            <a class="tag-link" href="/topics/{{ item.slug }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </aside>
{% endblock %}