$icomoon-font-path: "../fonts" !default;

$icon-arrow-east: "\e910";
$icon-map-marker-path1: "\e90b";
$icon-map-marker-path2: "\e90c";
$icon-play: "\e90d";
$icon-podcast: "\e90e";
$icon-video: "\e90f";
$icon-checkmark: "\e90a";
$icon-search: "\e909";
$icon-envelope: "\e908";
$icon-double-chevron-south: "\e907";
$icon-chevron-east: "\e900";
$icon-chevron-north: "\e901";
$icon-chevron-south: "\e902";
$icon-chevron-west: "\e903";
$icon-facebook: "\e904";
$icon-linkedin: "\e905";
$icon-twitter: "\e906";

